body {
	background-color: #000000;
}

.wrapper {
	width: 960px;
	height: 883px;
	background-image:url('../img/fon.jpg');
	margin-left: auto;
	margin-right: auto;
	color: #e6e6e6;
	font-family: Tahoma, sans-serif;
}

header {
	width: 960px;
	height: 200px;
	overflow:hidden;
}

header img {
	margin-top: 54px;
	margin-left: 65px;
}

a {
	color: #e6e6e6;
	text-decoration: none;
}

.contacts {
	margin: 150px 70px;
	display: block;
	float: right;
	font-size: 10px;
	text-align: left;
}

.contacts p:first-child {
	margin-bottom:5px;
	font-weight:bold;
}

section {
	width: 960px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
	font-weight:bold;
    font-size: 14px;
}

section td img:hover {
	box-shadow: 0 0 2px 2px #dbdbdb;
}

.strani {
	margin-left:  60px;
}

.strani img {
	margin: 0px 5px;
}

.strani h2 {
	margin-bottom: 50px;
}

footer {
	margin-top: 43px;
	margin-left: 392px;
	font-size: 10px;
	font-weight:bold;
}